<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/static/images/CG.png" type="image/x-icon">
  <title>Codegram - Create Post</title>
  <style>
    #code-editor {
      height: 400px;
    }
    body {
            font-family: 'Source Code Pro', monospace;
        }
  </style>
  
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;600;700&family=Montserrat:wght@500;600;700&family=Source+Code+Pro:wght@800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d6f5400f00.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;600;700&family=Montserrat:wght@500;600;700&family=Source+Code+Pro:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;600;700&family=Montserrat:wght@500;600;700&family=Source+Code+Pro:wght@800&display=swap" rel="stylesheet">

  <!-- Include Tailwind CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.27.0/min/vs/loader.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.27.0/min/vs/editor/editor.main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black">
  <div class="container mx-auto">
    <header class="flex justify-between items-center py-4">
      <div class="logo flex item-centre">
        <img src="static/images/CG.png" alt="Codegram Logo" class="rounded-full w-12 h-12 mr-2">
        <h1 class="text-white text-4xl font-bold">Codegram</h1>
      </div>
      <div class="search-bar flex justify-center">
        <form action="/search" method="GET" class="flex items-center">
          <input type="text" placeholder="Search" name="query" class="bg-white text-black py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-800">
          <button type="submit" class="ml-2 relative flex items-center transition-transform transform hover:scale-110">
            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #ffffff;"></i>
          </button>
        </form>
      </div>
      <nav>
        <ul class="flex items-center space-x-4">
          <li>
            <a href="/homepage" class="relative flex items-center transition-transform transform hover:scale-110 ">
                <i title="Homepage" alt="Homepage" class="fa-solid fa-house fa-xl text-white"></i>
            </a>
          </li>
          <li>
            <a href="/create_post"class="relative flex items-center transition-transform transform hover:scale-110 ">
              <i title="Create Post" alt="Create Post" class="fa-solid fa-square-plus fa-xl" style="color: #ffffff;"></i>
            </a>
          </li>
          <li><a href="/profile" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Profile" alt="Profile" class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/globalchat" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Global Chat" alt="Global Chat" class="fa-solid fa-paper-plane fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/settings" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Settings" alt="Settings" class="fa-solid fa-cog fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/community" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Community" alt="Community" class="fa-solid fa-users fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/logout" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Log Out" alt="logout" class="fa-solid fa-sign-out fa-xl" style="color: #ffffff;"></i></a></li>
        </ul>
      </nav>
    </header>
    <div class="container mx-auto">
      <main>
        <h2 class="text-2xl text-white font-bold mb-4">Create Post</h1>

        <form id="post-form" action="/create_post" method="POST" enctype="multipart/form-data">
          <div class="flex flex-col mb-4">
            <label for="caption" class="text-white text-lg mb-2">Caption</label>
            <input type="text" name="caption" id="caption" class="bg-white text-black py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-black" placeholder="Enter a caption">
          </div>
          <div class="flex flex-col mb-4">
            <label for="language" class="text-white text-lg mb-2">Select Language</label>
            <select name="language" id="language" class="bg-white text-black py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-black">
              <option value="javascript">JavaScript</option>
              <option value="typescript">TypeScript</option>
              <option value="python">Python</option>
              <option value="java">Java</option>
              <option value="csharp">C#</option>
              <option value="cpp">C++</option>
              <option value="php">PHP</option>
              <option value="ruby">Ruby</option>
              <option value="go">Go</option>
              <option value="swift">Swift</option>
              <option value="rust">Rust</option>
              <option value="kotlin">Kotlin</option>
              <option value="dart">Dart</option>
              <option value="html">HTML</option>
              <!-- Add more options for other languages -->
            </select>
          </div>
          <div class="flex flex-col mb-4">
            <label for="code-editor" class="text-white text-lg mb-2">Enter your code here</label>
            <div id="code-editor" class="border-white"></div>
            <input class="border border-white rounded-lg" type="hidden" name="content" id="code-editor-content">
          </div>
          <div class="relative flex items-center justify-center w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg bg-gray-200 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
            <input type="file" id="file" name="file" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer">
            <span class="mr-2">Upload File</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 4a1 1 0 0 0-1 1v4H6a1 1 0 1 0 0 2h3v4a1 1 0 1 0 2 0v-4h3a1 1 0 1 0 0-2h-3V5a1 1 0 0 0-1-1z"/>
            </svg>
          </div>
          <button type="submit" class="bg-white hover:bg-black border border-black hover:text-white hover:border-white text-black py-2 px-4 rounded-lg" id="upload-btn" disabled>Create Post</button>
        </form>
      </main>

    </div>
  </div>
  <script>
    require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.27.0/min/vs' }});
    require(['vs/editor/editor.main'], function() {
      var codeEditor = monaco.editor.create(document.getElementById('code-editor'), {
        value: '',
        language: 'javascript',
        automaticLayout: true,
        theme: 'vs-dark'
      });
      // Enable Create Post button if the code editor has content
      codeEditor.onDidChangeModelContent(function() {
        var content = codeEditor.getValue();
        var uploadBtn = document.getElementById('upload-btn');
        var codeEditorContent = document.getElementById('code-editor-content');
        if (content.trim().length > 0) {
          uploadBtn.disabled = false;
          codeEditorContent.value = content;
        } else {
          uploadBtn.disabled = true;
          codeEditorContent.value = '';
        }
      });

      // Change language of code editor based on user selection
      document.getElementById('language').addEventListener('change', function() {
        var selectedLanguage = this.value;
        monaco.editor.setModelLanguage(codeEditor.getModel(), selectedLanguage);
      });
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
</body>
</html>
