<!DOCTYPE html>
<html>
<head>
  <title>Codegram - Feedback</title>
  <script src="https://kit.fontawesome.com/d6f5400f00.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/static/images/CG.png" type="image/x-icon">
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black">
  <div class="container mx-auto">
    <header class="flex justify-between items-center py-4">
      <div class="logo flex item-centre">
        <img src="/static/images/CG.png" alt="Codegram Logo" class="rounded-full w-12 h-12 mr-2">
        <h1 class="text-white text-4xl font-bold">Codegram</h1>
      </div>
      <div class="search-bar flex justify-center">
        <form action="/search" method="GET" class="flex items-center">
          <input type="text" placeholder="Search" name="query" class="bg-white text-black py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-800">
          <button type="submit" class="ml-2 relative flex items-center transition-transform transform hover:scale-110">
            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #ffffff;"></i>
          </button>
        </form>
      </div>
      <nav>
        <ul class="flex items-center space-x-4">
          <li>
            <a href="/homepage" class="relative flex items-center transition-transform transform hover:scale-110 ">
                <i title="Homepage" alt="Homepage" class="fa-solid fa-house fa-xl text-white"></i>
            </a>
          </li>
          <li>
            <a href="/create_post" class="relative flex items-center transition-transform transform hover:scale-110 ">
              <i title="Create Post" alt="Create Post" class="fa-solid fa-square-plus fa-xl" style="color: #ffffff;"></i>
            </a>
          </li>
          <li><a href="/profile" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Profile" alt="Profile" class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/globalchat" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Global Chat" alt="Global Chat" class="fa-solid fa-paper-plane fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/settings" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Settings" alt="Settings" class="fa-solid fa-cog fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/community" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Community" alt="Community" class="fa-solid fa-users fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/logout" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Log Out" alt="logout" class="fa-solid fa-sign-out fa-xl" style="color: #ffffff;"></i></a></li>
        </ul>
      </nav>
    </header>
    <main>
        <div class="max-w-xl mx-auto mt-16 flex w-full flex-col border rounded-lg bg-white p-8">
            <h2 class="title-font mb-1 text-lg font-medium text-gray-900">Feedback</h2>
            <p class="mb-5 leading-relaxed text-gray-600">If you had any issues or you liked our product, please share
                with us!
            </p>
            <form action="/feedback" method="POST" class="mb-4">
                <div class="mb-4">
                    <label for="email" class="text-sm leading-7 text-gray-600">Email</label>
                    <input type="email" id="email" name="email" class="w-full rounded border border-gray-300 bg-white py-1 px-3 text-base leading-8 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" />
                </div>
                <div class="mb-4">
                    <label for="message" class="text-sm leading-7 text-gray-600">Message</label>
                    <textarea id="message" name="message" class="h-32 w-full resize-none rounded border border-gray-300 bg-white py-1 px-3 text-base leading-6 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200"></textarea>
                </div>
                <button class="rounded border-0 bg-indigo-500 py-2 px-6 text-lg text-white hover:bg-indigo-600 focus:outline-none">Send</button>
            </form>
            <p class="mt-3 text-xs text-gray-500">Feel free to connect with us on social media platforms.</p>
        </div>
    </main>
    <footer>
        <p class="text-white">&copy; 2023 Codegram</p>
      </footer>
    </body>
</html>
