<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/static/images/CG.png" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings - Codegram</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d6f5400f00.js" crossorigin="anonymous"></script>
  <style>
    .preview-image {
      max-width: 200px;
      max-height: 200px;
    }
    .invert-icon {
      filter: invert(100%);
    }
    .file-input {
      display: inline-block;
      position: relative;
      overflow: hidden;
      vertical-align: middle;
      width: 120px;
      height: 40px;
    }
    .file-input input[type="file"] {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      font-size: 100px;
      width: 100px;
      height: 36px;
      cursor: pointer;
    }
  </style>
</head>
<body class="bg-black">
  <div class="container mx-auto">
    <header class="flex justify-between items-center py-4">
      <div class="logo flex item-centre">
        <img src="static/images/CG.png" alt="Codegram Logo" class="rounded-full w-12 h-12 mr-2">
        <h1 class="text-white text-4xl font-bold">Codegram</h1>
      </div>
      <div class="search-bar flex justify-center">
        <form action="/search" method="GET" class="flex items-center">
          <input type="text" placeholder="Search" name="query" class="bg-white text-black py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-800">
          <button type="submit" class="ml-2 relative flex items-center transition-transform transform hover:scale-110">
            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #ffffff;"></i>
          </button>
        </form>
      </div>
      <nav>
        <ul class="flex items-center space-x-4">
          <li>
            <a href="/homepage" class="relative flex items-center transition-transform transform hover:scale-110 ">
                <i title="Homepage" alt="Homepage" class="fa-solid fa-house fa-xl text-white"></i>
            </a>
          </li>
          <li>
            <a href="/create_post"class="relative flex items-center transition-transform transform hover:scale-110 ">
              <i title="Create Post" alt="Create Post" class="fa-solid fa-square-plus fa-xl" style="color: #ffffff;"></i>
            </a>
          </li>
          <li><a href="/profile" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Profile" alt="Profile" class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/globalchat" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Global Chat" alt="Global Chat" class="fa-solid fa-paper-plane fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/settings" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Settings" alt="Settings" class="fa-solid fa-cog fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/community" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Community" alt="Community" class="fa-solid fa-users fa-xl" style="color: #ffffff;"></i></a></li>
          <li><a href="/logout" class="relative flex items-center transition-transform transform hover:scale-110 "><i title="Log Out" alt="logout" class="fa-solid fa-sign-out fa-xl" style="color: #ffffff;"></i></a></li>
        </ul>
      </nav>
    </header>
    <h1 class="text-3xl font-bold text-white mb-8">Settings</h1>

    <div class="flex mb-8">
      <div class="w-1/2 pr-8">
        <h2 class="text-xl text-white font-bold mb-2">Profile Picture</h2>
        <p class="text-white mb-4">Follow these steps to change your profile picture:</p>
        <ol class="list-decimal list-inside text-white mb-4">
          <li>Delete the current picture using the "Delete Picture" button.</li>
          <li>Choose a new picture using the "Choose a file" button.</li>
          <li>Upload the new picture using the "Upload Picture" button.</li>
        </ol>
        <div class="flex items-center mb-4">
          <form action="/delete_profile_picture" method="POST">
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-4">Delete Picture</button>
          </form>
          <form action="/upload_profile_picture" method="POST" enctype="multipart/form-data">
            <label for="profile_picture" class="file-input border border-white hover:border-black hover:bg-white hover:text-black text-white font-bold py-1 px-5 rounded">
              <span class="inline-block align-middle">Choose</span>
            </label>
           <input type="file" id="profile_picture" name="profile_picture" accept="image/jpeg, image/png" class="hidden">
            <button type="submit" class="border border-white hover:border-black hover:bg-white hover:text-black text-white font-bold py-2 px-4 rounded ">Upload Picture</button>
          </form>
        </div>
        <div class="mt-4">
          <img src="{{ url_for('static', filename='uploads/' + username + '.jpg') }}" alt="Profile Picture" class="preview-image">
        </div>
      </div>
      <div class="w-1/2 pl-8">
        <div class="mb-8">
          <h2 class="text-xl text-white font-bold mb-2">Bio</h2>
            <div class="w-1/2">
              <p class="text-white">{{ bio }}</p>
              <form action="/update_bio" method="POST">
                <textarea name="bio" class="bg-white text-black py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-white mt-2 resize-none" rows="8" cols="50" placeholder="Enter your new bio..."></textarea>
                <button type="submit" class="border border-white hover:border-black hover:bg-white hover:text-black text-white font-bold py-2 px-4 rounded mt-2">Save Bio</button>
              </form>
            </div>
          </div>
        </div>


    <div class="mb-8">
      <h2 class="text-xl text-white font-bold mb-2">Interests</h2>
      <p class="text-white">You can't edit interests in this version of Codegram</p>
    </div>

  </div>
</body>
</html>
